/* General style--------------------- */
:root {
    --navy: #063455;
    --green: #2E8B57;
    --orange: #EF6800;
    --dark-orange: #d45c00;
    --coffee: #A68A64;
    --cream-coffee: #F0E2D0;
    --light-gray: #F1F1F1;
}

a {
    text-decoration: none;
}

/* Navigation bar------------------ */
.navbar {
    background-color: white;
    box-shadow: 0px 2px 9px var(--light-gray);
}

.logo {
    height: 55px;
}

/* Orange buttons that carry a strong message style */
.strong-message {
    background-color: var(--orange);
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 10 10;
}

.strong-message:hover {
    background-color: var(--dark-orange);
    color: white;
}

.strong-message:focus,
.strong-message:active .strong-message:hover {
    color: white;
    font-weight: bold;
}

/* Removing unnecessary Bootstrap styles */
.navbar-toggler:focus,
.navbar-toggler:active,
.strong-message:focus,
.strong-message:active .strong-message:hover {
    box-shadow: none;
}

.nav-link.dropdown-toggle::after {
    content: none;
}

/* Editing navigation bar Bootstrap styles */
.nav-link:hover,
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus,
.nav-link:focus {
    background-color: white;
    color: var(--green);
}

/* Color of menu icon and text */
.dark-txt,
.navbar-toggler {
    color: var(--navy);
}

.navbar-toggler {
    font-size: large;
}

.nav-link {
    font-weight: bold;
}

/* Adding a little space between items */
.nav-item {
    margin-right: 35px;
}

/* Green animated underline */
.under-line {
    width: fit-content;
    position: relative;
}

.under-line::before {
    content: ' ';
    position: absolute;
    background-color: var(--green);
    margin: 26 auto;
    width: 0%;
    height: 2.5px;
    transition: 0.4s;
}

.nav-link:hover .under-line::before, 
.nav-link:focus .under-line::before {
    width: 100%;
}

/* Footer------------------ */
footer {
    background-color: var(--navy);
}

.footer-element {
    color: white;
    font-weight: bold;
}

.footer-sub-list {
    margin-left: 3px;
    font-size: 14px;
    color: white;
}

.footer-element:hover, 
.footer-sub-list:hover {
    color: var(--light-gray);
}

/* Image styles */
.image1 {
    width: 100%;
    height: 70%;
    max-width: 100%;
    padding-top: 10px;
}

/* Header styles */
.header1 {
    color: #063455;
    font-weight: bold;
    font-size: 40px;
    padding-top: 70px;
}

.header2, .header3, .header4, .header5, .header6, .header7, .header8, .header9 {
    color: #063455;
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
}

.header2 {
    padding-top: 20px;
}


/* Paragraph styles */
.paragraph1, .paragraph2, .paragraph3, .paragraph4, .paragraph5, .paragraph6, .paragraph7 ,.paragraph7,.paragraph8,.paragraph9 {
    color: #063455;
    text-align: left;
    font-size: 22px;
    line-height: 1.41176;
    margin-top: 10px; 
}

/* Custom container */
.custom-container {
    max-width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
